.res-box {
  position: relative;
  padding: 0.01em;
  border: 1px solid var(--txt-g1);
  margin: 12px;
  padding: 12px;
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
  box-shadow: var(--bx-snav);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.resb-header {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-start;
  align-items: center;
  width:100%;
}

.resb-titles{
    display:block;
    width: calc(100% - 20%);
}

.resb-subtitl {
  color: var(--txt-g3);
  font-family: var(--fontR);
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 0.03em;
  text-transform: lowercase;
}

.resb-titl {
  color: var(--txt-g1);
  font-family: var(--fontK);
  font-size: 1.1em;
  font-weight: 900;
  letter-spacing: 0.035rem;
  text-transform: uppercase;
  overflow:hidden;
}

.resb-icon {
  opacity: 0;
  width: calc(100% - 80%);
  font-size: 1.4rem;
  text-align: -webkit-right;
  transition: 0.3s ease-in-out;
}

.res-box:hover .resb-icon {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.resb-icon a{
    color:var(--txt-g1);
    font-weight:900;
}

.resb-body {
  width: 98%;
  height: calc(100% - 50px);
  overflow: hidden;
  margin: 1%;
}

  .resb-body span {
    display: block;
    text-transform: uppercase;
    font-family: var(--fontK);
    color: var(--txt-g3);
  }

  .resb-body strong {
    font-family: var(--fontR);
    font-weight: 400;
    color: var(--txt-g1);
  }

#username{
    text-transform:capitalize;
}
