  <div class="res-box">
    <div class="resb-header">
      <div class="resb-titles">
        <div class="resb-subtitl">[sala.nomSala]</div>
        <div class="resb-titl">[reserva.nomReserva]</div>
      </div>
      <div class="resb-icon"><a href="/reserva-modify"><i class="fa-duotone fa-pen-to-square"></i></a></div>
    </div>
    <div class="resb-body">
      <span>DATA: <strong>[data.start] / [data.end]</strong></span>
      <span>HORA: <strong>[hour.start] / [hour.end]</strong></span>
      <span>ORGANITZAT PER: <strong id="username">[USER.Username]</strong></span>
    </div>
</div>

