  <div class="res-box" *ngIf="reserva">
  <div class="resb-header">
    <div class="resb-titles">
      <div class="resb-subtitl">[sala.nomSala]</div>
      <div class="resb-titl">{{reserva.reserveID}}</div>
    </div>
    <div class="resb-icon">
      <a href="/reserva-modify" id="icon-padding-r"><i class="fa-duotone fa-pen-to-square"></i></a>
      <a href="/reserves" id="icon-padding-l" (click)="eliminarReservaBox()"><i class="fa-duotone fa-trash"></i></a>
    </div>
  </div>
  <div class="resb-body">
    <span>DATA: <strong>{{reserva.dataReserva | date: 'dd-MM-yyyy'}}</strong></span>
    <span>HORA: <strong>{{formatTimeSpan(reserva.horaInici)}} / {{formatTimeSpan(reserva.horaFi)}}</strong></span>
    <span>ORGANITZAT PER: <strong id="username">{{username}}</strong></span>
  </div>
</div>

