<app-navsales></app-navsales>
<div class="row p-5 container-reserva">
  <div class="res-titl"><span>LES TEVES RESERVES</span></div>
  <div class="res-body">
    <p>
      reserves fetes works! aqui ara seria fer el component de RESERVA i passar-lo per aqui, que aquest component no deixa de ser una vista.
      podriem fer com unes 3 columnes per reserva i row-2 idk. Alguna cosa aixi i llavors el overflow
      <br /><br />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec porttitor nisl. Morbi nec risus venenatis, aliquam nulla vel, semper dui. Sed eu tellus mauris. Quisque varius, dolor eu pellentesque maximus, nibh neque tempus metus, a dignissim tortor urna ac urna. Morbi cursus leo eu lorem suscipit, vel volutpat odio ultricies. Mauris eleifend ligula hendrerit ex condimentum, non lobortis libero molestie. Curabitur eget molestie nisl, sed aliquet mauris. Quisque nisi enim, pretium id scelerisque consectetur, sagittis eget odio. Fusce imperdiet sagittis faucibus. Phasellus in tempor sem.

      Nunc nec lorem efficitur, aliquam libero quis, euismod nunc. Curabitur porta lorem enim, quis scelerisque urna maximus sit amet. Nunc quam ante, auctor et porta nec, feugiat eu massa. Maecenas eu sodales odio. Nullam in nibh lacus. Nullam eleifend fringilla urna eget molestie. Vestibulum varius ex a lectus hendrerit eleifend. Nam erat odio, congue eu libero vitae, porttitor scelerisque mauris. Morbi sed lacus vitae justo ullamcorper lacinia. Sed consectetur, magna ac condimentum aliquam, eros lacus venenatis justo, in laoreet leo justo a nunc. Etiam sit amet porta felis, at lacinia odio. Nunc nec faucibus libero. Morbi purus nunc, fringilla quis faucibus eu, fringilla at magna. Vivamus porta velit nulla, id scelerisque ante sollicitudin eu. Nam eleifend ultricies mauris, et imperdiet nunc. In hac habitasse platea dictumst.

      Aliquam consequat tempor magna, a gravida arcu tincidunt nec. In condimentum nec dolor sed tristique. Donec lobortis sem ex, quis congue ex euismod ac. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc in nisl et mauris rutrum interdum. Nullam enim neque, lobortis et suscipit sed, dapibus in massa. Nullam arcu dui, tempus sed magna non, faucibus posuere sapien. Duis tempor efficitur dignissim. Vestibulum in dui dui. Ut tempus ultrices nisl eget condimentum. Mauris iaculis leo id quam maximus volutpat. Nullam metus est, ultricies at massa in, iaculis euismod mauris. Quisque luctus nulla sit amet urna luctus, nec accumsan ligula pulvinar. Suspendisse sed est scelerisque, semper magna id, vehicula nisi.

      Aenean eu enim quis nulla consectetur volutpat. Fusce quam neque, viverra vitae lobortis et, auctor eu mi. Vivamus at imperdiet est. Ut sollicitudin, magna in porta aliquet, lectus nisi posuere justo, at cursus ligula metus vel urna. Suspendisse vulputate vel nulla eu porta. Suspendisse potenti. Nulla a sagittis leo, sed vulputate sapien. Nunc feugiat sem et consequat semper.

      Suspendisse nisl quam, efficitur vitae pretium ut, sodales eu arcu. Quisque faucibus a tortor sit amet interdum. Pellentesque imperdiet sollicitudin dui, quis faucibus nulla pharetra vitae. Vestibulum sit amet consequat arcu, eget tempus arcu. Quisque a rutrum massa, efficitur ultricies lacus. Duis vitae lectus enim. Nulla facilisi. Ut dapibus, massa feugiat posuere euismod, enim nibh cursus erat, a ornare leo purus feugiat odio. Nullam eget nisl ut quam porta fermentum sit amet id nibh. Vivamus scelerisque dui vitae quam cursus blandit. Suspendisse molestie nunc ut nibh molestie, non euismod ligula venenatis.
    </p>
  </div>
</div>


