<app-navsales></app-navsales>
<div class="row p-5 container-reserva">
  <div class="res-titl"><span>LES TEVES RESERVES</span></div>
  <div class="res-body row-9 col-9">
    <div class="res-box" style="background-color:red;">prova</div>
    <div class="res-box" style="background-color:darkcyan;">prova</div>
    <div class="res-box" style="background-color:mediumpurple;">prova</div>
    <div class="res-box" style="background-color:red;">prova</div>
    <div class="res-box" style="background-color:darkcyan;">prova</div>
    <div class="res-box" style="background-color:mediumpurple;">prova</div>
    <div class="res-box" style="background-color:red;">prova</div>
    <div class="res-box" style="background-color:darkcyan;">prova</div>
    <div class="res-box" style="background-color:mediumpurple;">prova</div>
  </div>
</div>


