.container-admin {
  margin: auto;
  width: 100%;
  height: 85%;
  overflow: hidden;
}

.pagination {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding-left: 15px;
}

  .pagination button {
    background-color: transparent;
    color: var(--txt-g1);
    border: none;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
  }

    .pagination button.disabled {
      color: var(--bg-2);
      cursor: default;
    }

    .pagination button:hover {
      color: #2b2b3fcf;
    }

.adm-titl {
  width: 100%;
  height: 14%;
  font-family: var(--fontR);
  font-size: 35px;
  overflow: hidden;
}

  .adm-titl h4 {
    color: var(--txt-g1);
    font-weight: 800;
    padding-left: 5px;
    font-size: 35px;
    text-transform: uppercase;
  }

/*--BOTÓ DE CREAR--*/
.btn-create {
  font-family: var(--fontR);
  background-color: var(--txt-g1);
  color: var(--bs-body-bg);
  border-radius: 10px;
  overflow: hidden;
  padding: 2px;
  display: flex;
  margin-bottom:12px;
  transition: 0.3s ease-in-out;
}

.btn-create:hover {
  background-color: var(--bs-body-bg);
  color: var(--txt-g1);
  transition: 0.3s ease-in-out;
}

  .btn-create i {
    background-color: var(--txt-g1);
    color: var(--bs-body-bg);
    font-family: var(--fontK);
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    transition: 0.3s ease-in-out;
  }

.btn-create:hover i {
  background-color: var(--bs-body-bg);
  color: var(--txt-g1);
  transition: 0.3s ease-in-out;
}

/*--MODIFICAR--*/

/*--ELIMINAR--*/

/*--BOX COMPONENT--*/

/*--NAME BOX COMPONENT--*/
