<app-navadmin></app-navadmin>

<div class="row p-5 container-admin" *ngIf="isAdmin">
  <div class="adm-titl"><h4>Edició de paisos</h4></div>
  <div class="table-responsive">
    <table class="table-res">
      <thead>
        <tr>
          <th class="th-thead">
            <div class="d-flex align-items-center">
              <button class="btn btn-create me-2" (click)="createPais()">
                <i class="fa-solid fa-plus"></i>
              </button>
              <mat-form-field class="flex-grow-1 custom-input">
                <input matInput placeholder="Buscar pais per nom" [formControl]="paisosControl">
                <mat-autocomplete #auto="matAutocomplete" class="custom-autocomplete">
                  <mat-option class="custom-option" *ngFor="let paisos of filteredPaisos" [value]="paisos.nomPais">
                    {{ paisos.nomPais }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr-boxcomponent" *ngFor="let pais of filteredPaisos | slice:(currentPage-1)*pageSize:currentPage*pageSize">
          <td class="tr-name">{{ pais.nomPais }}</td>
          <td class="tr-butt">
            <button class="btn btn-info me-2" (click)="updatePais(pais)">Modificar</button>
            <button class="btn btn-danger" (click)="deletePais(pais)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1" [class.disabled]="currentPage === 1">
      <i class="fa-regular fa-chevron-left"></i>
    </button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages" [class.disabled]="currentPage === totalPages">
      <i class="fa-regular fa-chevron-right"></i>
    </button>
  </div>
</div>
