<div class="container-popup">
  <h1 mat-dialog-title class="titl-dialog">Modifica la sala</h1>
  <mat-dialog-content>
    <form [formGroup]="salaForm">
      <mat-form-field appearance="outline">
        <mat-label class="input-ciutat">Nom de la sala</mat-label>
        <input class="input-ciutat" matInput formControlName="nomSala" placeholder="Escriu la sala" />
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button class="btn btn-update" (click)="updateSala()">Acceptar</button>
    <button mat-raised-button mat-dialog-close class="btn btn-update">Cancelar</button>
  </mat-dialog-actions>
</div>
