<app-navadmin></app-navadmin>

<div class="row p-5 container-admin" *ngIf="isAdmin">
  <div class="adm-titl"><h4>Edició de sales</h4></div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>
            <button class="btn btn-create" (click)="createSales()">
              <i class="fa-solid fa-plus"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sala of sales | slice:(currentPage-1)*pageSize:currentPage*pageSize">
          <td>{{ sala.nomSala }}</td>

          <td>
            <button class="btn btn-sm btn-info"> <!--(click)="updateSales(sala)"-->Modificar</button>
            <button class="btn btn-sm btn-danger" (click)="deleteSala(sala)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1" [class.disabled]="currentPage === 1">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages" [class.disabled]="currentPage === totalPages">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</div>
