<app-navadmin></app-navadmin>

<div class="row p-5 container-admin" *ngIf="isAdmin">
  <div class="adm-titl"><h4>Edició de sales</h4></div>
  <div class="table-responsive">
    <table class="table-res">
      <thead>
        <tr>
          <th class="th-thead">
            <div class="d-flex align-items-center">
              <button class="btn btn-create me-2" (click)="createSales()">
                <i class="fa-solid fa-plus"></i>
              </button>
              <mat-form-field class="flex-grow-1 custom-input">
                <input matInput placeholder="Buscar sala per nom" [formControl]="salesControl">
                <mat-autocomplete #auto="matAutocomplete" class="custom-autocomplete">
                  <mat-option class="custom-option" *ngFor="let sales of filteredSales" [value]="sales.nomSala">
                    {{ sales.nomSala }} 
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr-boxcomponent" *ngFor="let sala of filteredSales | slice:(currentPage-1)*pageSize:currentPage*pageSize">
          <td class="tr-name">{{ sala.nomSala }}</td>
          <td class="tr-butt">
            <button class="btn btn-info me-2" (click)="updateSala(sala)">Modificar</button>
            <button class="btn btn-danger" (click)="deleteSala(sala)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1" [class.disabled]="currentPage === 1">
      <i class="fa-regular fa-chevron-left"></i>
    </button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages" [class.disabled]="currentPage === totalPages">
      <i class="fa-regular fa-chevron-right"></i>
    </button>
  </div>
</div>
