<div class="container-popup">
  <h2 class="titl-dialog">Crear Ciutat</h2>
  <form [formGroup]="ciutatForm" (ngSubmit)="createCiutat()">
    <mat-form-field>
      <mat-label class="input-ciutat">Nom del País</mat-label>
      <input class="input-ciutat" matInput formControlName="nomPais" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label class="input-ciutat">Nom de la Ciutat</mat-label>
      <input class="input-ciutat" matInput formControlName="nomCiutat" required>
    </mat-form-field>
    <br>
    <button mat-button type="button" class="btn" (click)="cancel()">Cancel</button>
    <button mat-raised-button class="btn" type="submit">Crear</button>
  </form>
</div>
