<div class="container-popup">
  <h2 class="titl-dialog">Crear Ciutat</h2>
  <form [formGroup]="ciutatForm" (ngSubmit)="createCiutat()">
    <mat-form-field appearance="outline">
      <mat-label class="input-ciutat">Nom del País</mat-label>
      <input class="input-ciutat" matInput formControlName="nomPais" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label class="input-ciutat">Nom de la Ciutat</mat-label>
      <input class="input-ciutat" matInput formControlName="nomCiutat" required>
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-raised-button class="btn btn-create" type="submit">Crear</button>
      <button mat-button type="button" class="btn btn-create" (click)="cancel()">Cancelar</button>
    </mat-dialog-actions>
  </form>
</div>
