/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 70%;
  max-width: 800px;
  margin: 20px auto; /* Ajusta el margen para centrar los rectángulos */
  display: flex;
  flex-direction: column; /* Ajusta la dirección para que los rectángulos estén uno encima del otro */
}

.ubicacio-container {
  text-align: left; /* Alinea el título al centro */
  margin-top: 40px;
  margin-left: 180px;
}

.rectangle {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px; /* Ajusta el espacio entre los rectángulos */
}

.column {
  flex: 1;
  padding: 15px;
  margin-right: 60px;
  text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px; /* Tamaño de fuente más pequeño */
}

select,
button {
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px; /* Tamaño de fuente más pequeño */
}

button {
  padding: 10px 20px;
  font-size: 14px; /* Tamaño de fuente más pequeño */
  background-color: var(--txt-g1);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

  button:hover {
    background-color: #0056b3;
  }

/* Estilos para los select */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23333'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 10px center;
  background-size: 16px;
  padding: 6px; /* Tamaño de relleno más pequeño */
  font-size: 14px; /* Tamaño de fuente más pequeño */
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

  select::-ms-expand {
    display: none;
  }

/* Estilos para las imágenes */
.image1 {
  max-width: 50%; /* Ajusta el ancho de las imágenes */
  height: auto;
  display: block;
  margin: 30px auto; /* Agrega margen para centrar las imágenes */
}

.image2 {
  max-width: 30%; /* Ajusta el ancho de las imágenes */
  height: auto;
  display: block;
  margin: 30px auto; /* Agrega margen para centrar las imágenes */
}

.ubicacio-titl {
  font-family: var(--fontR);
  color: var(--txt-g1);
  font-weight: 900;
}

.txt {
  font-family: var(--fontR);
}
