<app-navprofile></app-navprofile>

<div class="ubicacio-container">
  <h4 class="ubicacio-titl">La teva ubicació</h4>
</div>

<div class="container">
  <div class="rectangle">
    <div class="column">
      <h3 class="ubicacio-titl">Selecciona la teva imatge</h3>
      <input type="file" (change)="onFileSelected($event)" />
      <button class="txt" (click)="uploadImage()">Canviar Imatge</button>
    </div>
  </div>

  <div class="rectangle">
    <div class="column">
      <img class="image1" src="https://i.imgur.com/qyhaabF.png" />
    </div>
    <div class="column">
      <h3 class="ubicacio-titl">Selecciona el teu país:</h3>
      <select [(ngModel)]="selectedCountry">
        <option value="No seleccionat">No seleccionat</option>
        <option *ngFor="let pais of paisos" [value]="pais.nomPais">{{ pais.nomPais }}</option>
      </select>
      <button class="txt" (click)="guardarPais()">Guardar</button>
    </div>
  </div>

  <div class="rectangle">
    <div class="column">
      <img class="image2" src="https://i.imgur.com/14Rxpzd.png" />
    </div>
    <div class="column">
      <h3 class="ubicacio-titl">Selecciona la teva oficina:</h3>
      <select [(ngModel)]="selectedOffice">
        <option value="No seleccionat">No seleccionat</option>
        <option *ngFor="let oficina of oficines" [value]="oficina.nomOficina">{{ oficina.nomOficina }}</option>
      </select>
      <button class="txt" (click)="guardarOficina()">Guardar</button>
    </div>
  </div>
</div>
