<app-navprofile></app-navprofile>

<div class="row p-5 container-admin">
  <div class="ubicacio-titl"><span>LES TEVES DADES PERSONALS</span></div>
  <div class="ubicacio-body">

    <div class="ubody-item">
      <div class="uitem-icon">
        <i class="fa-regular fa-images"></i>
      </div>
      <div class="uitem-body">
        <h3 class="ubody-titl">Selecciona la teva imatge</h3>
        <input type="file" (change)="onFileSelected($event)" class="ubtn-edit" style="display: none;" id="fileInput" />
        <label for="fileInput" class="ubody-txt ubtn-edit">Escollir imatge</label>
        <button class="ubtn-editImg" (click)="uploadImage()">Canviar Imatge</button>
      </div>
    </div>

    <div class="ubody-item">
      <div class="uitem-icon">
        <i class="fa-regular fa-earth-americas"></i>
      </div>
      <div class="uitem-body">
        <h3 class="ubody-titl">Selecciona el teu país</h3>
        <select [(ngModel)]="selectedCountry">
          <option value="No seleccionat" selected>No seleccionat</option>
          <option *ngFor="let pais of paisos" [value]="pais.nomPais">{{ pais.nomPais }}</option>
        </select>
        <button class="ubtn-editImg" (click)="guardarPais()">Guardar</button>
      </div>
    </div>

    <div class="ubody-item">
      <div class="uitem-icon">
        <i class="fa-regular fa-city"></i>
      </div>
      <div class="uitem-body">
        <h3 class="ubody-titl">Selecciona la teva ciutat</h3>
        <select>
          <option value="No seleccionat">No seleccionat</option>
          <option *ngFor="let ciutat of ciutats" [value]="ciutat.nomCiutat">{{ ciutat.nomCiutat }}</option>
        </select>
        <button class="ubtn-editImg">Guardar</button>
      </div>
    </div>

    <div class="ubody-item">
      <div class="uitem-icon">
        <i class="fa-regular fa-phone-office"></i>
      </div>
      <div class="uitem-body">
        <h3 class="ubody-titl">Selecciona la teva oficina</h3>
        <select [(ngModel)]="selectedOffice">
          <option value="No seleccionat" selected>No seleccionat</option>
          <option *ngFor="let oficina of oficines" [value]="oficina.nomOficina">{{ oficina.nomOficina }}</option>
        </select>
        <button class="ubtn-editImg" (click)="guardarOficina()">Guardar</button>
      </div>
    </div>

  </div>
</div>
