body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.ubicacio-container {
  text-align: left;
  margin-top: 40px;
  margin-left: 140px;
}

.rectangle {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.column {
  flex: 1;
  padding: 15px;
  margin-right: 60px;
  text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}

select,
button {
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: var(--txt-g1);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

  button:hover {
    background-color: #0056b3;
  }

select {
  appearance: none;
  font-family: var(--fontR);
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23333'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 10px center;
  background-size: 16px;
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

  select::-ms-expand {
    display: none;
  }

.image0 {
  max-width: 30%;
  height: auto;
  display: block;
  margin: 30px auto;
}

.image1 {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 30px auto;
}

.image2 {
  max-width: 30%;
  height: auto;
  display: block;
  margin: 30px auto;
}

.ubicacio-titl {
  font-family: var(--fontR);
  color: var(--txt-g1);
  font-weight: 900;
}

.txt {
  font-family: var(--fontR);
}

.file {
  display: inline-block;
  padding: 6px 12px;
  font-size: 12px;
  color: #fff;
  background-color: darkgray;
  border: none;
  border-radius: 4px;
  margin-bottom: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.file:hover {
  background-color: #0056b3;
}
