<app-navsales></app-navsales>
<div class="row p-5 container-reserva">
  <div class="res-titl"><strong>modifica una reserva </strong>  <i class="fa-duotone fa-arrow-right"></i>  <span>[NOM RESERVA]</span></div>
  <div class="res-body">
    Ha de poguer modificar la SALA, les hores, la data i el nom DE LA RESERVA.
  </div>
  <div class="res-btn-g">
    <a class="btn res-btn-reserva res-modify" href="/sales"><span>modificar</span></a>
    <a class="btn res-btn-reserva res-delete" href="/sales"><span>eliminar</span></a>
  </div>
</div>

