<app-navsales></app-navsales>
<div class="app-sales-general">
  <div class="tbl-sales">
    <table>
      <thead class="m-auto">
        <tr>
          <th>sales</th>
        </tr>
      </thead>
      <tbody class="tbl-content">
        <tr *ngFor="let sala of sales">
          <td>
            <button class="btn btn-sales m-2">{{ sala.nomSala }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row btn-modify" *ngIf="isAdmin">
    <a href="/admin-modifyciutats">
      <span>Modifica</span>
    </a>
  </div>
</div>

