<div class="app-regi-general">
  <h2 class="regi-h2txt">Dona't d'alta</h2>

  <form (ngSubmit)="register()">
    <div>
      <label class="d-block regi-txt" for="username">Usuari</label>
      <input class="regi-input" type="text" id="username" name="username" [(ngModel)]="username" required>
    </div><br />

    <div>
      <label class="d-block regi-txt" for="email">Correu</label>
      <input class="regi-input" type="email" id="email" name="email" [(ngModel)]="email" required>
    </div><br />

    <div>
      <label class="d-block regi-txt" for="password">Contrasenya</label>
      <input class="regi-input" type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <br />
    <button type="submit" class="btn btn-primary m-auto d-block" (click)="showAlert(alertTypes.success)">Registra't</button>
  </form>
  <!--
  <div *ngIf="!isCollapsed" class="alert alert-warning alert-dismissible fade show" role="alert" id="warning-btn">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div *ngIf="!isCollapsed" class="alert alert-success alert-dismissible fade show" role="alert" id="success-btn">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>-->
  <br />
  <button class="btn btn-secondary m-auto d-block btn-tornaEnrere" (click)="goBack()">Torna enrere</button>
</div>
