.app-regi-general {
  margin: 3em auto -6em auto;
  width: calc(100% - 18em);
  height: 40em;
  background-color: #F2F4FB;
  border-radius: 2rem;
  box-shadow: rgb(0 0 0 / 8%) 0.81px 2.4px 2.4px 3.2px;
  overflow: hidden;
}

.regi-h2txt {
  font-family: Rubik;
  color: var(--txt-g1);
  font-weight: bold;
}

.regi-lbl {
  display:block;
  font-family: var(--fontK);
}

.regi-inputUser {
  display: block;
  background-color: transparent !important;
  color: var(--txt-g1);
  font-weight: bold;
  font-family: var(--fontK);
}

.btn-register {
  align-items: center;
  display: inline-grid;
  width: 12%;
  background-color: #202067;
  color: var(--bs-body-bg);
  border-radius: 15px;
}
