<h2>Registre de compte</h2>

<form (ngSubmit)="register()">
  <div>
    <label for="username">Usuari</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required>
  </div>

  <div>
    <label for="email">Correu</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" required>
  </div>

  <div>
    <label for="password">Contrasenya</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>
  </div>

  <button type="submit">Registrar-se</button>
</form>
