.container-popup {
  background-color: var(--bg-2);
}

.mat-mdc-form-field {
  padding-top: 20px;
}

.mdc-dialog .mdc-dialog__content {
  padding: 2.5px 24px 2.5px 24px;
}

.mat-mdc-dialog-container {
  --mdc-dialog-subhead-color: var(--txt-g1);
  --mdc-dialog-subhead-font: var(--fontR)!important;
}

/*--TITOL--*/
.titl-dialog {
  color: var(--txt-g1) !important;
  letter-spacing: .8px !important;
  font-weight: 900 !important;
  text-transform: uppercase !important;
  font-family:var(--fontR)!important;
}

/*--TXT USUARI--*/
.input-ciutat {
  color: var(--txt-g1) !important;
  font-weight: 800 !important;
  letter-spacing: .8px !important;
  font-family: var(--fontK)!important;
}


/*--BUTTONS--*/
.mat-mdc-dialog-actions {
  justify-content: space-around;
  padding-bottom: 10px;
}

.btn-update {
  font-family: var(--fontK);
  font-weight: 900;
  color: var(--bg-2);
  letter-spacing: .5px;
  text-transform: uppercase;
  border-color: var(--txt-g2);
  background-color: var(--txt-g1);
  transition: 0.3s ease-in-out;
}

  .btn-update:hover {
    color: var(--txt-g2);
    letter-spacing: .2px;
    border-color: var(--bg-2);
    background-color: var(--bg-2);
    transition: 0.3s ease-in-out;
  }
