/*--ARXIU: LOGIN.CSHTML--*/
  .prova {
    background-color: cyan !important;
    width: 240px;
    height: 100px;
    clip-path: polygon(0 2%,100% 2%, 100% 95%, 95% 95%, 95% 80%, 75% 80%, 75% 95%,8% 95%, 0 70%);
  }
