<!--<mat-form-field>
  <mat-label>Selecciona una sala:</mat-label>
  <mat-select [(ngModel)]="selectedSala" >
    <mat-option *ngFor="let sala of sales" [value]="sala.value" (click)="onSalaSeleccionada(sala.value)">
      {{ sala.nomSala }}
    </mat-option>
  </mat-select>
</mat-form-field>

-->
<select class="selectSala">
  <option [ngValue]="null">Selecciona una sala:</option>
  <option *ngFor="let sala of sales" [ngValue]="sala.value" (click)="onSalaSeleccionada(sala.value)">
    {{ sala.nomSala }}
  </option>
</select>


<style>
  .selectSala {appearance: none;-webkit-appearance: none;padding: 4px 10px;
    border: none;background-color: var(--bg-2);color: var(--txt-g1);
    font-weight: 600;font-family: var(--fontK);border-radius: 25px;width: 100%;}
</style>
