/* You can add global styles to this file, and also import other style files */


html {
  font-size: 14px;
}

/*--IMPORT FONTS EXTERNES--*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*--VARIABLES GENERALS--*/

:root {
  --bs-body-bg: #F4F4FB;
  --bg-1: rgb(0 0 0 / 10%);
  --bg-2: #e3e3e3;
  --txt-g1: #202067;
  --fontR: Rubik;
  --fontK: 'Karla';
}

body {
  background-color: var(--bg-2);
}

