.app-nav {
  background: cyan;
  padding: 1.2rem;
  width: 95%;
  margin: 2rem auto auto auto;
  border-radius: 3rem;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 2.4px 3.2px;
}

.d-acme {
  direction: rtl;
}

.itm-acme{
    width:9em;
}
