<nav class="navbar sticky-top navbar-expand-lg app-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home"><i class="fa-regular fa-house icon-home"></i></a>
      </li>
      <li class="nav-item active itm-acme">
        <a class="nav-link" href="/sales">Sales de reunions</a>
      </li>
      <li class="nav-item dropdown d-acme itm-acme">
        <div class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="dropMenu()">
         {{username}}
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="dmenu" (click)="notDropMenu()">
          <a class="dropdown-item" href="/profile">Perfil</a>
          <a class="dropdown-item" href="/dades">Configuració</a>
          <a class="dropdown-item" href="/reserves">Les teves reserves</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/">Tancar la sessió</a>
        </div>
      </li>
      <li class="nav-item active itm-acme" *ngIf="isAdmin">
        <a class="nav-link" href="/admin">Administrar</a>
      </li>
    </ul>
  </div>
</nav>
