<nav class="navbar sticky-top navbar-expand-lg app-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active icon-homeg">
        <a class="nav-link" href="/home"><i class="fa-regular fa-house icon-home"></i></a>
      </li>
      <li class="nav-item active itm-acme">
        <a class="nav-link" href="/paisos">Paisos</a>
      </li>
      <li class="nav-item active itm-acme">
        <a class="nav-link" href="/ciutats"> Ciutats</a>
      </li>
      <li class="nav-item active itm-acme">
        <a class="nav-link" href="/oficines"> Oficines</a>
      </li>
      <li class="nav-item active itm-acme">
        <a class="nav-link" href="/sales"> Sales</a>
      </li>
      <li class="nav-item active itm-acme">
        <a class="nav-link" href="/ferreserva"> Reserva ja! </a>
      </li>
      <li class="nav-item active itm-acme">
        <a class="nav-link" href="/reserves"> Les teves reserves </a>
      </li>
    </ul>
  </div>
</nav>
