<app-navsales></app-navsales>
<div class="row p-5 container-reserva">
  <div class="res-titl"><strong>RESERVA UNA SALA</strong>  <i class="fa-duotone fa-arrow-right"></i>  <span>[NOM SALA]</span></div>
  <div class="res-body">
    <div class="res-gen">
      <div class="res-titlb"><h2>ALTRES</h2></div>
      <div class="res-gen4">
        <div class="res-subtitlb"><h4>País: </h4></div>
        <!--falta fer el if:NOT SELECCIONAT A PAIS I OFICINA-->
        <div class="res-txt">{{ pais }}</div>
        <div class="res-txt">[Selector.Pais]</div>
      </div>

      <div class="res-gen4">
        <div class="res-subtitlb"><h4>Oficina: </h4></div>
        <div class="res-txt">{{ oficina }}</div>
        <div class="res-txt">[Selector.Pais.Oficina]</div>
      </div>

      <div class="res-sales">
        <div class="res-subtitlb"><h4>Sala: </h4></div>
        <selectSala></selectSala>
      </div>

        <div class="res-gen4">
          <div class="res-subtitlb"><h4>Organitzat per: </h4></div>
          <!--SEMPRE SERÀ L'USERNAME EL PROPIETARI DE LA RESERVA-->
          <div class="res-txt">{{ username }}</div>
        </div>

      </div>
    <div class="res-gen">
      <div class="res-titlb"><h2>hora</h2></div>
      <div class="res-subtitlb"><h4>comença:</h4></div>
      <selectReserva></selectReserva>

      <div class="res-subtitlb"><h4>acaba:</h4></div>
      <selectReserva></selectReserva>

    </div>
    <div class="res-gen">
      <div class="res-bodydate">
        <div class="res-titlb"><h2>RESERVA</h2></div>
        <div class="res-subtitlb"><h4>nom de la reserva:</h4></div>
        <!--AQUI INPUT TEXT-->
        <div class="res-titlb"><h2>DATA</h2></div>
        <div class="res-subtitlb"><h4>COMENÇA:</h4></div>
        <DatepickerDate></DatepickerDate>

      </div>
    </div>
  </div>
  <div class="res-btn-g">
    <a class="btn res-btn-reserva" href="/sales"><i class="fa-regular fa-arrow-right-from-arc"></i><span>reservar</span></a>
    </div>
</div>

