.container-reserva {
  margin: auto;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.res-titl {
  width: 100%;
  height: 14%;
  font-family: var(--fontR);
  font-size: 35px;
  overflow: hidden;
}

  .res-titl i {
    color: var(--txt-g3);
    font-size: 0.7em;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
  }

  .res-titl span {
    color: var(--txt-g1);
    font-weight: 800;
    padding-left: 5px;
  }

.res-body {
  width: 100%;
  height: calc(100% - 19%);
  display: inline-flex;
  align-content: flex-end;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  padding-top:25px;
  overflow:hidden;
}

.res-gen {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}


/*--AQUI JA SON ELS FORMULARIS--*/
.res-titlb h2 {
  color: var(--txt-g1);
  padding-bottom: 10px;
  font-family: var(--fontR);
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 30px;
}

.res-subtitlb h4 {
  color: var(--txt-g3);
  font-family: var(--fontR);
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 20px;
}

.res-gen4 .res-subtitlb h4 {
  margin-right: 5px;
}

.res-gen input {
  margin:2.5px auto 10px auto;
}

.res-user {
  display: flex;
  align-items: baseline;
  margin-top: -45px;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.res-gen4 {
  display: flex;
  align-items: baseline;
  margin-top: -5px;
}

.res-sales {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding-bottom: 50px;
}

.res-txt {
  text-align: center;
  display: flex;
  text-transform: uppercase;
  font-family: var(--fontK);
  font-weight: 900;
  color: var(--txt-g1);
  font-size: 20px;
  overflow: hidden;
  vertical-align: -webkit-baseline-middle;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/*--BUTÓ FER RESERVA--*/
.res-btn-g {
  width: 95%;
  height: 20%;
  margin: 0 auto;
}

.res-btn-reserva {
  background-color: var(--txt-g1);
  color: var(--bs-body-bg);
  border-radius: 15px;
  padding: 2.5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin: auto;
  transition: 0.3s ease-in-out;
}

.res-btn-reserva span {
    font-family: var(--fontK);
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 20px;
}

.res-btn-reserva i{
    margin-right:2%;
}

.res-btn-reserva:hover {
    background-color: var(--bs-body-bg);
    color: var(--txt-g1);
    transition: 0.3s ease-in-out;
}

.res-bodydate {
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
}
