<app-navsales></app-navsales>
<div class="row p-5 container-reserva">
  <div class="res-titl"><i class="fa-duotone fa-arrow-right"></i><span>RESERVA UNA SALA</span></div>
  <div class="res-body">
    <div class="res-gen">
      <div class="res-titlb"><h2>ALTRES</h2></div>
      <div class="res-gen4">
        <div class="res-subtitlb"><h4>País: </h4></div>
        <!-- Si pais es "No seleccionat" y oficinaReserva es null -->
        <div class="res-txt" *ngIf="pais == 'No seleccionat' && oficinaReserva == null">{{ pais }}</div>

        <!-- Si pais es "No seleccionat" y oficinaReserva no es null -->
        <div class="res-txt" *ngIf="pais == 'No seleccionat' && oficinaReserva != null">{{ paisReserva }}</div>

        <!-- Si pais es diferente a "No seleccionat" y oficinaReserva es null -->
        <div class="res-txt" *ngIf="pais != 'No seleccionat' && oficinaReserva == null">{{ pais }}</div>

        <!-- Si pais es diferente a "No seleccionat" y oficinaReserva no es null -->
        <div class="res-txt" *ngIf="pais != 'No seleccionat' && oficinaReserva != null">{{ paisReserva }}</div>
      </div>

      <div class="res-gen4">
        <div class="res-subtitlb"><h4>Oficina: </h4></div>
        <!-- Si pais es "No seleccionat" y oficinaReserva es null -->
        <div class="res-txt" *ngIf="oficina == 'No seleccionat' && oficinaReserva == null">{{ oficina }}</div>

        <!-- Si pais es "No seleccionat" y oficinaReserva no es null -->
        <div class="res-txt" *ngIf="oficina == 'No seleccionat' && oficinaReserva != null">{{ oficinaReserva }}</div>

        <!-- Si pais es diferente a "No seleccionat" y oficinaReserva es null -->
        <div class="res-txt" *ngIf="oficina != 'No seleccionat' && oficinaReserva == null">{{ oficina }}</div>

        <!-- Si pais es diferente a "No seleccionat" y oficinaReserva no es null -->
        <div class="res-txt" *ngIf="oficina != 'No seleccionat' && oficinaReserva != null">{{ oficinaReserva }}</div>

      </div>

      <div class="res-sales">
        <div class="res-subtitlb"><h4>Sala: </h4></div>
        <selectSala [pais]="paisReserva" [ciutat]="ciutatReserva" [nomOficina]="oficinaReserva"></selectSala>  <!-- aixo es l'imput,[nom propietat fill]="nom de la propietat del pare", merci Celia -->
      </div>

      <div class="res-user">
        <div class="res-subtitlb"><h4>Organitzat per: </h4></div>
        <!--SEMPRE SERÀ L'USERNAME EL PROPIETARI DE LA RESERVA-->
        <div class="res-txt">{{ username }}</div>
      </div>

    </div>
    <div class="res-gen">
      <div class="res-titlb"><h2>hora</h2></div>
      <div class="res-subtitlb"><h4>comença:</h4></div>
      <input type="time" id="start" name="start"
             min="09:00" max="18:00" [(ngModel)]="horaInici">

      <div class="res-subtitlb"><h4>acaba:</h4></div>
      <input type="time" id="finish" name="finish"
             min="09:00" max="18:00" [(ngModel)]="horaFi">

    </div>
    <div class="res-gen">
      <div class="res-titlb"> <h2>dia</h2></div>
      <input type="date" id="day" name="day" [value]="dia" [(ngModel)]="dia" />
      <br />
    </div>
  </div>
  <div class="res-btn-g">
    <a class="btn res-btn-reserva" (click)="reservarSala()"><i class="fa-regular fa-arrow-right-from-arc"></i><span>reservar</span></a>
  </div>

