<app-navbar></app-navbar>
<div class="row p-5 container-profile">
  <div class="col-4 pe-4 prf-img">
    <div class="col prf-img-cnt"></div>
  </div>
  <div class="col prf-info">
    <div class="row">
      <div class="col prf-info-titl">{{ username }}</div>
      <div class="p-4 mt-2 prf-info-all">
        <!--INFORMACIÓ-->
        <div class="prf-info-all-tit me-3">ROL</div><div class="prf-info-all-infoUser me-3">{{ role }}</div>
        <div class="prf-info-all-tit me-3">CORREU</div><div class="prf-info-all-infoUser me-3">{{ email }}</div>
        <div class="prf-info-all-tit me-3">PAÍS</div><div class="prf-info-all-infoUser me-3">{{ pais }}</div>
        <div class="prf-info-all-tit">OFICINA</div><div class="prf-info-all-infoUser me-3">{{ oficina }}</div>
      </div>
    </div>
  </div>
</div>
