.container-profile {
  margin: auto;
  width: 100%;
  height: 85%;
  overflow: hidden;
}

.prf-img {
  overflow: hidden;
  height: 100%;
}

.prf-img img {
  object-fit: cover; /* Això fa que la imatge es vegi bé */
  width: 100%;
  height: 100%;
}

.prf-img-cnt {
  box-sizing: content-box;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  outline: 1px solid var(--txt-g1);
  outline-offset: -20px;
  background-color: var(--imgp-clr);
  background-blend-mode: var(--imgp-blnd);
}


.prf-info {
  overflow: hidden;
  height: 100%;
}

.prf-info-titl {
  width: 100%;
  height: 100%;
  font-size: 122px;
  font-family: var(--fontR);
  font-weight: 600;
  color: var(--txt-g1);
  letter-spacing: .01em;
  word-spacing: 0.05em;
  line-height: normal;
  text-transform: uppercase;
  transform: translate(0px,1.2em);
  transition: 0.8s ease-in all;
  text-align: center;
}

.container-profile:hover .prf-info-titl {
  transform: translate(0px,0em);
  font-size: 6.2rem;
}

.prf-info-all {
  width: 100%;
  height: 80%;
  font-size: 1.2rem;
  transform: translate(0px,20rem);
  transition: 1.2s ease-in all;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
}

.container-profile:hover .prf-info-all {
  transform: translate(0px,-1rem);
  transition-delay: 0.5s;
}

.prf-info-all-tit {
  font-size: 75%;
  font-family: 'Karla';
  color: var(--txt-g3);
  font-weight: 900;
  border-bottom: 5px solid #1A1A41;
  padding: 0.7rem 0rem 0rem 0rem;
  border-radius: 5px;
}

.prf-info-all-infoUser {
  font-size: 100%;
  font-family: Rubik;
  color: var(--txt-g1);
  font-weight: 900;
  padding: 2.5px;
}


@media only screen and (max-width: 1199px) {
  .prf-img-cnt {
    display:none;
  }
}
