main {
    margin-left: 10vw;
}

th {
  background-color: #202067;
  color: var(--bs-body-bg);
  font-family: 'Karla';
  
}

button {
  padding: 0.3em;
  color: black;
  margin: 0.3em;
  /*background-color: #202067;*/
  font-family: 'Karla';
  text-decoration: none;
}


.app-paisos-general {
  margin: 4rem auto 0rem auto;
  width: 20rem;
  height: 100%;
  overflow: hidden;
}


