<app-navsales></app-navsales>
<div class="app-paisos-general">
  <div class="tbl-paisos">
    <table>
      <thead class="m-auto">
        <tr>
          <th>Paisos</th>
        </tr>
      </thead>
      <tbody class="tbl-content">
        <tr *ngFor="let pais of paisos">
          <td>
            <button (click)="mostrarCiutats(pais)" class="btn btn-paisos m-2">{{ pais.nomPais }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="btn-general-modify">
    <div *ngIf="isAdmin">
      <a href="/admin-modifypaisos" class="btn btn-modify">
        <span>Modifica</span>
      </a>
    </div>
    <div>
      <a href="/vista-rpais" class="btn btn-modify">
        <span>Veu les reserves</span>
      </a>
    </div>
  </div>
</div>



