<app-navprofile></app-navprofile>

<div class="row p-5 container-admin">
  <div class="titl"><span>CANVIA EL CORREU ELECTRONIC</span></div>
  <div class="email-body">
    <form (ngSubmit)="changeEmail()">
      <div class="form-group">
        <label class="txt" for="currentEmail">Correu actual:</label>
        <input class="inputFamily" type="email" name="currentEmail" id="currentEmail" [(ngModel)]="currentEmail" required>
      </div>

      <div class="form-group">
        <label class="txt" for="newEmail">Nou correu:</label>
        <input class="inputFamily" type="email" name="newEmail" id="newEmail" [(ngModel)]="newEmail" required>
      </div>

      <div class="form-group">
        <label class="txt" for="confirmEmail">Confirmar correu:</label>
        <input class="inputFamily" type="email" name="confirmEmail" id="confirmEmail" [(ngModel)]="confirmEmail" required>
      </div>

      <button type="submit">Canviar correu</button>
    </form>
    <div class="icon-pass">
      <i class="fa-regular fa-at"></i>
    </div>
  </div>
</div>
