.app-ciutats-general {
  margin: auto;
  width: 100%;
  height: 85%;
  overflow: hidden;
}

.tbl-ciutats {
  margin: 2.5% auto auto auto;
  width: 100%;
  height: 85%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: hidden;
}

/*--A PARTIR D'AQUI JA SON TABLES, ETC--*/

  .tbl-ciutats table {
    margin: auto;
    display: grid;
    width: 100%;
    height: 100%;
  }

  .tbl-ciutats th { /*--TITLE--*/
    display: block;
    color: var(--txt-g1);
    font-family: var(--fontR);
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: auto;
    width: 100%;
    text-align: center;
  }


.tbl-content {
  width: 85%;
  padding: 2.5px;
  height: 60%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.btn-ciutats {
  background-color: var(--txt-g1);
  color: var(--bs-body-bg);
  border-radius: 15px;
  overflow: hidden;
  margin: auto;
  font-family: var(--fontK);
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 20px;
}
