<app-navsales></app-navsales>
<div class="app-ciutats-general">
  <div class="tbl-ciutats">
    <table>
      <thead class="m-auto">
        <tr>
          <th>Ciutats</th>
        </tr>
      </thead>
      <tbody class="tbl-content">
        <tr *ngFor="let ciutat of ciutats">
          <td>
            <button (click)="getOficinesByCiutats(pais, ciutat.nomCiutat)" class="btn btn-ciutats m-2">{{ ciutat.nomCiutat }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="btn-general-modify">
    <div *ngIf="isAdmin">
      <a href="/admin-modifyciutats" class="btn btn-modify">
        <span>Modifica</span>
      </a>
    </div>
    <div>
      <a href="/vista-rciutat" class="btn btn-modify">
        <span>Veu les reserves</span>
      </a>
    </div>
  </div>
</div>

