<app-navprofile></app-navprofile>

<div class="row p-5 container-admin">
  <div class="titl"><span>CANVIA LA TEVA CONTRASENYA</span></div>
  <div class="password-body">
    <form (ngSubmit)="changePassword()">
      <div class="form-group">
        <label class="txt" for="currentPassword">Contrasenya actual:</label>
        <input class="inputFamily" type="password" name="currentPassword" id="currentPassword" [(ngModel)]="currentPassword" required>
      </div>

      <div class="form-group">
        <label class="txt" for="newPassword">Nova contrasenya:</label>
        <input class="inputFamily" type="password" name="newPassword" id="newPassword" [(ngModel)]="newPassword" required>
      </div>

      <div class="form-group">
        <label class="txt" for="confirmPassword">Confirmar contrasenya:</label>
        <input class="inputFamily" type="password" name="confirmPassword" id="confirmPassword" [(ngModel)]="confirmPassword" required>
      </div>

      <button type="submit">Canviar contrasenya</button>
    </form>
    <div class="icon-pass">
      <i class="fa-regular fa-unlock"></i>
    </div>
  </div>
</div>
