<app-navprofile></app-navprofile>

<h4>Canviar contrasenya</h4>
<form (ngSubmit)="changePassword()">
  <label for="currentPassword">Contrasenya actual:</label>
  <input type="password" name="currentPassword" id="currentPassword" [(ngModel)]="currentPassword" required>

  <label for="newPassword">Nova contrasenya:</label>
  <input type="password" name="newPassword" id="newPassword" [(ngModel)]="newPassword" required>

  <label for="confirmPassword">Confirmar contrasenya:</label>
  <input type="password" name="confirmPassword" id="confirmPassword" [(ngModel)]="confirmPassword" required>

  <button type="submit">Cambiar contraseña</button>
</form>
