<app-navadmin></app-navadmin>
<div class="row p-5 container-admin" *ngIf="isAdmin">
  <div class="adm-titl"><h4>Edició d'usuaris</h4></div>
  <ul class="user-list">
    <li class="user-item" *ngFor="let usuario of usuaris | slice:(currentPage-1)*pageSize:currentPage*pageSize">
      <span class="user-icon"><i class="fa-regular fa-user"></i></span>
      <span class="user-name">{{ usuario.userName }}</span>
      <button class="btn btn-useredit" (click)="editarUsuario(usuario)" *ngIf="mostrarBotonEditar(usuario)"><span>Editar</span></button>

      <div class="edit-form" *ngIf="usuario.editando">
        <form class="edit-form" (ngSubmit)="guardarCanvis(usuario)">
          <label for="nombre">Nom:</label>
          <input type="text" id="nombre" [(ngModel)]="usuario.userName" name="nom" required>

          <label for="correo">Correu:</label>
          <input type="email" id="correo" [(ngModel)]="usuario.email" name="correu" required>

          <label for="rol">Administrador:</label>
          <div class="checkbox-wrapper-2">  
            <input type="checkbox" class="checkadmin" [(ngModel)]="usuario.rol" name="rol" [checked]="usuario.Rol">
          </div>
          <button class="btn btn-modify" type="submit"><span>Guardar canvis</span></button>
          <button class="btn btn-modify" type="button" (click)="cancelarEdicion(usuario)"><span>Cancelar</span></button>
        </form>
      </div>
    </li>
  </ul>
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1" [class.disabled]="currentPage === 1">
      <i class="fa-regular fa-chevron-left"></i>
    </button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages" [class.disabled]="currentPage === totalPages">
      <i class="fa-regular fa-chevron-right"></i>
    </button>
  </div>
</div>
