.admin-container {
  margin: 20px;
  padding: 20px;
}

.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding-left: 15px; /* Agrega un espacio a la izquierda para desplazar las flechas */
}

  .pagination button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
  }

    .pagination button.disabled {
      color: #ccc;
      cursor: default;
    }

    .pagination button:hover {
      color: #555;
    }

  .pagination .arrow-button {
    position: absolute;
    top: -20px;
    left: px;
    font-size: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.user-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f2f2f2; /* Mueve el fondo a las filas de usuarios */
}

  .user-item:first-child {
    margin-top: 0;
  }

  .user-item:last-child {
    margin-bottom: 0;
  }

  .user-item .user-icon {
    margin-right: 10px;
    color: var(--txt-g1);
  }

  .user-item .user-name {
    flex: 1;
    font-weight: bold;
  }

  .user-item button {
    margin-left: 10px;
    background-color: #132885;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }

.adm-titl {
  font-family: var(--fontR);
  color: var(--txt-g1);
  font-weight: 900;
}

.checkbox-wrapper-2 .ikxBAC {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

  .checkbox-wrapper-2 .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
  }

  .checkbox-wrapper-2 .ikxBAC,
  .checkbox-wrapper-2 .ikxBAC::after {
    transition: all 100ms ease-out;
  }

    .checkbox-wrapper-2 .ikxBAC::after {
      background-color: #fff;
      border-radius: 50%;
      content: "";
      height: 14px;
      left: 3px;
      position: absolute;
      top: 3px;
      width: 14px;
    }

.checkbox-wrapper-2 input[type=checkbox] {
  cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: #6e79d6;
}

  .checkbox-wrapper-2 .ikxBAC:checked::after {
    background-color: #fff;
    left: 13px;
  }

.edit-form {
  transform: translateX(-50px);
  font-size: 14px;
  display: flex;
  align-items: center;
  font-family: var(--fontR);
  color: var(--txt-g1);
  font-weight: 900;
  margin-right: -45px;
}

  .edit-form label {
    margin-right: 5px;
    padding-left: 10px;
  }

  .edit-form input,
  .edit-form button {
    margin-bottom: 5px;
    font-size: 12px;
  }

  .edit-form button {
    margin-left: 5px;
    padding: 3px 6px;
    font-size: 14px;
  }

  .edit-form input[type="text"],
  .edit-form input[type="email"] {
    background-color: #dfe1e4;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 0px;
  }


