.container-admin {
  margin: auto;
  width: 100%;
  height: 85%;
  overflow: hidden;
}

.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding-left: 15px;
}

  .pagination button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
  }

    .pagination button.disabled {
      color: #ccc;
      cursor: default;
    }

    .pagination button:hover {
      color: #555;
    }

  .pagination .arrow-button {
    position: absolute;
    top: -20px;
    left: 12px;
    font-size: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.user-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 25px; /* Cambio de borde a borde redondeado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregar sombra */
  padding: 15px;
  transition: 0.3s ease-in-out;
}

  .user-item:first-child {
    margin-top: 0;
  }

  .user-item:last-child {
    margin-bottom: 0;
  }

  .user-item .user-icon {
    margin-right: 10px;
    color: var(--txt-g1);
  }

  .user-item .user-name {
    max-width: 150px; /*--VALOR PERQUE L'USUARI NO TRENQUI LA PAGIN ENTERA--*/
    flex: 1;
    font-weight: 900;
    font-family: var(--fontK);
    letter-spacing: 0.7px;
    color: var(--txt-g1);
    transition: 0.3s ease-in-out;
  }

  .user-item:hover .user-name {
    letter-spacing: 0px;
    color: var(--txt-g3);
    transition: 0.3s ease-in-out;
  }

.btn-useredit {
  margin-left: 55%;
  margin-right: 5px;
  font-family: var(--fontK);
  font-weight: 900;
  color: rgb(0 0 0 / 84%);
  letter-spacing: .5px;
  text-transform: uppercase;
  border-color: #327800;
  background-color: var(--btn-bg-modify);
  transition: 0.3s ease-in-out;
}

  .btn-useredit:hover {
    color: var(--txt-g1);
    letter-spacing: .2px;
    background-color: var(--bs-body-bg);
    border-color: var(--bs-body-bg);
    transition: 0.3s ease-in-out;
  }

.adm-titl {
  width: 100%;
  font-family: var(--fontR);
  font-size: 35px;
  overflow: hidden;
}

  .adm-titl h4 {
    color: var(--txt-g1);
    font-weight: 800;
    padding-left: 5px;
    font-size: 35px;
    text-transform: uppercase;
  }

.checkbox-wrapper-2 .ikxBAC {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

  .checkbox-wrapper-2 .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
  }

  .checkbox-wrapper-2 .ikxBAC,
  .checkbox-wrapper-2 .ikxBAC::after {
    transition: all 100ms ease-out;
  }

    .checkbox-wrapper-2 .ikxBAC::after {
      background-color: #fff;
      border-radius: 50%;
      content: "";
      height: 14px;
      left: 3px;
      position: absolute;
      top: 3px;
      width: 14px;
    }

.checkbox-wrapper-2 input[type=checkbox] {
  cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: #6e79d6;
}

  .checkbox-wrapper-2 .ikxBAC:checked::after {
    background-color: #fff;
    left: 13px;
  }

.edit-form {
  background-color: var(--bs-body-bg);
  transform: translateX(-50px);
  font-size: 14px;
  display: flex;
  align-items: center;
  font-family: var(--fontR);
  color: var(--txt-g1);
  font-weight: 900;
  margin-right: -45px;
}

  .edit-form label {
    margin-right: 5px;
    padding-left: 10px;
  }

  .edit-form input,
  .edit-form button {
    margin-bottom: 5px;
    font-size: 12px;
  }

  .edit-form button {
    margin-left: 5px;
    padding: 3px 6px;
    font-size: 14px;
  }

  .edit-form input[type="text"],
  .edit-form input[type="email"] {
    background-color: #dfe1e4;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 0px;
  }


.btn-danger {
  font-family: var(--fontK);
  font-weight: 900;
  color: rgb(0 0 0 / 84%);
  letter-spacing: .5px;
  text-transform: uppercase;
  background-color: var(--btn-bg-delete);
  transition: 0.3s ease-in-out;
}

.btn-danger:hover {
  color: var(--txt-g1);
  letter-spacing: .2px;
  background-color: var(--bs-body-bg);
  border-color: var(--bs-body-bg);
}

.bg-nom {
  background-color: #F4F4FB;
}

#user-list mat-form-field .mat-mdc-form-field-infix {
  padding: 0;
  min-height: initial;
  background-color: grey;
  background-color: transparent;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent; /* Cambia el color a tu preferencia */
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: grey;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--txt-g1) !important; /* Cambiar el color del texto a negro */
  font-family: var(--fontR);
}

.flex-grow-1 .custom-input {
    color: red;
}

.mdc-text-field .mdc-text-field__input {
  caret-color: var(--txt-g1);
}

:root {
  --mdc-typography-subtitle1-text-decoration:var(--txt-g1);
}

.mdc-text-field__input {
  -webkit-text-decoration: var(--mdc-typography-subtitle1-text-decoration, inherit);
}
