.admin-container {
  margin: 20px;
  padding: 20px;
}

.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding-left: 15px; /* Agrega un espacio a la izquierda para desplazar las flechas */
}

  .pagination button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
  }

    .pagination button.disabled {
      color: #ccc;
      cursor: default;
    }

    .pagination button:hover {
      color: #555;
    }

  .pagination .arrow-button {
    position: absolute;
    top: -20px;
    left: px;
    font-size: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


.user-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f2f2f2; /* Mueve el fondo a las filas de usuarios */
}

  .user-item:first-child {
    margin-top: 0;
  }

  .user-item:last-child {
    margin-bottom: 0;
  }

  .user-item .user-icon {
    margin-right: 10px;
  }

  .user-item .user-name {
    flex: 1;
    font-weight: bold;
  }

  .user-item button {
    margin-left: 10px;
    background-color: #132885;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
