<div class="app-login-general">
  <h2 class="lg-h2-titl">Inici de sessió</h2>
  <br />
  <form (ngSubmit)="login()">
    <div>
      <label for="username" class="d-block lg-txt">Usuari</label>
      <input type="text" id="username" name="username" class="m-auto login-inputUser lg-input d-block" [(ngModel)]="Username" required>
    </div><br />
    <div>
      <label for="password" class="d-block lg-txt">Contrasenya</label>
      <input type="password" id="password" name="password" class="m-auto login-inputUser lg-input d-block" [(ngModel)]="Password" required>
    </div><br />

    <div class="d-inline-flex lg-remember-comp">
      <label for="remember" class="text-center lg-remember">Recordar</label>
      <input type="checkbox" id="remember" class="text-center lg-remember-input" name="rememberme" [(ngModel)]="RememberMe">
    </div><br />
    <button type="submit" class="btn btn-primary m-auto d-block" (click)="showMessage()">Iniciar sessió</button>
    <div class="alert alert-danger alert-dismissible fade show">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>Error!</strong> {{msgLogin}}
    </div>
    <button class="btn btn-secondary m-auto d-block btn-tornaEnrere" (click)="goBack()">Tornar enrere</button>
  </form>
  <br />
</div>
