.app-login-general {
  margin: 4rem auto 0rem auto;
  width: 300px;
  overflow:hidden;
}

.lg-h2-titl {
  text-align: center;
  font-family: var(--fontR);
  letter-spacing:0.8px;
  font-weight: 900;
  color: var(--txt-g1);
  text-transform:uppercase;
}

.lg-input {
  color: var(--txt-g1);
  font-size: 0.95rem;
  font-weight: 600;
  font-family: var(--fontK);
  line-height: 1;
  letter-spacing: 0.022rem;
  border-style: none;
  outline: none;
  height: calc(1em + 1.6em + 0.5em);
  width: 100%;
  padding: 0.3em;
  border: 0.22em solid transparent;
  background-image: linear-gradient(var(--bg-2), var(--bg-2)), linear-gradient(120deg, #202067 0%, #F2F4FB 50%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 1.2em;
  background-size: 200% 100%;
  transition: background-position 0.8s ease-out;
}

.lg-btn-submit{

}

.lg-remember-comp {
  width: 100%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom:0.8rem;
}

.lg-remember{
    font-family:var(--fontK);
    margin-right:2rem;
    text-align:center;
}

.lg-remember-input {
}

.lg-msgInici {
  width: 20rem;
  margin-top: 1rem;
  height: 3rem;
  font-family: var(--fontK);
  font-size: 0.9rem;
  word-break: break-all;
}
