.svg-home1 {
  margin-bottom: -18rem;
  overflow: hidden;
  z-index: -99;
  position: relative;
}

.svg-home2 {
  margin-top: 5em; /* ho he canviat per probar una cosa , era -10rem*/
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.svgp2 {
  transform: rotate(75deg);
}

.app-home-general {
  margin: 7em auto -6em auto;
  width: calc(100% - 18em);
  height: 40em;
  background-color: #F2F4FB;
  border-radius: 2rem;
  box-shadow: rgb(0 0 0 / 8%) 0.81px 2.4px 2.4px 3.2px;
  overflow: hidden;
}

