<header>
  <div class="svg-home1">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="none" stroke="#202067" d="M0,320L30,309.3C60,299,120,277,180,229.3C240,181,300,107,360,90.7C420,75,480,117,540,117.3C600,117,660,75,720,101.3C780,128,840,224,900,266.7C960,309,1020,299,1080,282.7C1140,267,1200,245,1260,213.3C1320,181,1380,139,1410,117.3L1440,96L1440"></path></svg>
  </div>
</header>

<main>
  <div *ngIf="!showLoginForm && !showRegisterForm" class="app-home-general">
    <div class="titl-home">ACME-ROOMS</div>
    <div class="btn-general row justify-content-center align-content-center gap-5">
      <div class="btn-register col-3">
        <button class="btn btn-txtapp" (click)="toggleLoginForm()">LOGIN</button>
      </div>
      <div class="btn-register col-3">
        <button class="btn btn-txtapp" (click)="toggleRegisterForm()">REGISTER</button>
      </div>
    </div>
  </div>

  <div *ngIf="showLoginForm">
    <app-login></app-login>
   
  </div>

  <div *ngIf="showRegisterForm">
    <app-register></app-register>
    
  </div>
</main>

<footer>
  <div class="svg-home2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="none" stroke="#202067" d="M0,160L40,181.3C80,203,160,245,240,229.3C320,213,400,139,480,101.3C560,64,640,64,720,101.3C800,139,880,213,960,218.7C1040,224,1120,160,1200,149.3C1280,139,1360,181,1400,202.7L1440,224L1440"></path></svg>
  </div>
</footer>
