<div class="container-popup">
  <h1 mat-dialog-title class="titl-dialog">Modifica el país</h1>
  <mat-dialog-content>
    <form [formGroup]="paisForm">
      <mat-form-field appearance="outline" class="matform-pd">
        <mat-label class="input-ciutat">Nom del país</mat-label>
        <input matInput class="input-ciutat2" formControlName="nomPais" placeholder="Escriu el país" />
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button class="btn btn-update" (click)="updatePais()">Acceptar</button>
    <button mat-raised-button mat-dialog-close class="btn btn-update">Cancelar</button>
  </mat-dialog-actions>
</div>
