/*-- editar dintre del component de Angular Material, prova

.prova-laia{
    color:red!important;
    background-color:black;
}

.container-prova-laia {
  width:100%;
  height:100%;
  background-color: cyan;
}

--*/
