<div class="container-popup">
  <h1 mat-dialog-title class="titl-dialog">Modifica la ciutat</h1>
  <mat-dialog-content>
    <form [formGroup]="ciutatForm">
      <mat-form-field appearance="outline">
        <mat-label class="input-ciutat">Nom de la ciutat</mat-label>
        <input matInput class="input-ciutat" formControlName="nomCiutat" placeholder="Escriu la ciutat" />
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button class="btn btn-update" (click)="updateCiutat()">Acceptar</button>
    <button mat-raised-button mat-dialog-close class="btn btn-update">Cancelar</button>
  </mat-dialog-actions>
</div>
