.app-nav {
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  width: 95%;
  margin: 2rem auto auto auto;
  border-radius: 3rem;
  box-shadow: var(--bx-snav);
}

.nav-item {
  border-radius: 25px;
  margin-left: 2px;
  font-family: var(--fontK);
  font-weight: 600;
  text-transform: uppercase;
}


.nav-link {
  border-radius: 25px;
  color: var(--txt-g1);
  transition: 0.3s ease-in-out;
}

  .nav-link:hover {
    color: var(--txt-g3);
    transition: 0.3s ease-in-out;
  }

.icon-home {
  font-size: 1.3rem;
  line-height: initial;
}

.d-acme {
  direction: rtl;
}


/*--DROPDOWN--*/
.dropdown-menu {
  background-color: var(--bs-body-bg);
}
