<app-navbar></app-navbar>

<div class="row p-5 container-admin">
  <h4 class="dades-titl">Modifica les teves dades</h4>
  <div class="container-items">
    <a href="/ubicacio">
      <div class="item">
        <p class="adm-titl">Canviar dades</p>
        <i class="fa-solid fa-envelopes"></i>
      </div>
    </a>

    <a href="/change-password">
      <div class="item">
        <p class="adm-titl">Canviar la contrasenya</p>
        <i class="fa-regular fa-key"></i>
      </div>
    </a>
    <a href="/change-email">
      <div class="item">
        <p class="adm-titl">Canviar el correu</p>
        <i class="fa-solid fa-envelopes"></i>
      </div>
    </a>
    <a href="/change-user">
      <div class="item">
        <p class="adm-titl">Canviar d'usuari</p>
        <i class="fa-regular fa-users"></i>
      </div>
    </a>
  </div>
</div>
