<app-navbar></app-navbar>

<div class="row p-5 container-admin">
  <h4 class="dades-titl">Modifica les teves dades</h4>
  <div class="container-items">

      <div class="item"><a href="/change-dates">
        <p class="adm-titl">Canviar dades</p>
        <i class="fa-regular fa-user-pen"></i></a>
      </div>

      <div class="item"><a href="/change-password">
        <p class="adm-titl">Canviar la contrasenya</p>
        <i class="fa-regular fa-key"></i></a>
      </div>


      <div class="item"><a href="/change-email">
        <p class="adm-titl">Canviar el correu</p>
        <i class="fa-solid fa-envelopes"></i></a>
      </div>
    
      <div class="item"><a href="/change-user">
        <p class="adm-titl">Canviar d'usuari</p>
        <i class="fa-regular fa-users"></i></a>
      </div>
  </div>
</div>
